<div class="container no-gap small-padding">
    <section class="post-detail">
        <div class="back-link">
            <a routerLink="/posts" class="clickable clickable-text">
                <i class="bi bi-arrow-left"></i>
                <span>Volver a la lista de posts</span>
            </a>

            @if (userData.isAdmin) {
                <div class="post-admin-controls">
                    <a routerLink="/editPost/{{post()?.id}}" class="clickable clickable-tool bordered">
                        <i class="bi bi-pencil"></i>
                    </a>
                    <button id="delete-post-button" class="clickable clickable-tool bordered danger">
                        <i class="bi bi-trash"></i>
                    </button>
                </div>
            }

        </div>
        <header class="post-header">
            <div class="post-header-left">
                <h2 class="post-title">{{post()?.title}}</h2>
                <div class="post-tags-container">
                    @for (tag of post()?.tags; track tag) {
                        <span class="post-tag">{{tag}}</span>
                    }
                    @if (post()?.tags?.length === 0) {
                        <span class="post-tag">Sin etiquetas</span>
                    }
                </div>
                <p class="description">{{post()?.description}}</p>
            </div>
            <div class="post-header-right">
                <span class="author">{{"@" + post()?.author}}</span>
                <span class="post-date">{{post()?.date}}</span>
            </div>
        </header>
        <div class="post-image">
            <img [src]="getBannerUrl()" onerror="this.src='/assets/template_image.png'"
                alt="{{post()?.title}}">
        </div>
        <hr>
        <div class="post-content" [innerHTML]="postContent()"></div>
    </section>
    <hr>
    <section class="post-comments">
        <h2>Comentarios</h2>
        <div class="comments-container">
            <!-- Comments will be inserted here using AJAX -->
        </div>
        <button id="load-more-button" class="clickable clickable-primary">Cargar más</button>
        <hr class="margin-v big">
        @if (userData.isAuthenticated) {
            <form class="comment-form">
                <h4>Deja un comentario</h4>
                <textarea class="comment-input" name="comment" placeholder="Escribe un comentario..."></textarea>
                <button type="submit" class="clickable clickable-primary">Comentar</button>
            </form>
        }
    </section>
</div>