<div class="navbar">
    <div class="nav-content">
        <a class="nav-logo clickable clickable-text" routerLink="/">
            <span class="nav-title">SaveX</span>
        </a>
        <div class="right">
            @if (isAuthenticated && !isLoading) {
                <a class="clickable clickable-image small" routerLink="/profile">
                    <img
                        class="avatar"
                        src="{{avatar}}"
                        alt="User avatar"
                        (error)="getDefaultAvatar($event)"
                    >
                </a>
            } @else if (!isLoading) {
                <a class="clickable clickable-primary" routerLink="/login">Acceder</a>
            }
            <app-theme-toggle></app-theme-toggle>
        </div>
    </div>
</div>