<div class="container no-gap small-padding">
  <!-- Navbar -->
  <app-navbar></app-navbar>

  <!-- Query Container -->
  <div class="query-container">
    <!-- Search Bar -->
    <div class="search-bar-container">
      <app-searchbar [(searchQuery)]="searchQuery"></app-searchbar>
    </div>

    <!-- Filters Bar -->
    <div class="filters-bar">
      <div class="filter-item">
        <label for="supermarket">Supermercado</label>
        <select
          id="supermarket"
          name="supermarket"
          [(ngModel)]="filters.supermarket"
          class="dropdown"
        >
          <!-- Opción para "Todos" -->
          <option value="">Todos</option>
      
          <!-- Opciones dinámicas -->
          <option *ngFor="let supermarket of supermarkets" [value]="supermarket.id">
            {{ supermarket.name }}
          </option>
        </select>
      </div>

      <div class="filter-row">
        <div class="filter-item">
          <label for="minPrice">Precio mínimo</label>
          <input
            type="number"
            step="0.01"
            id="minPrice"
            name="minPrice"
            placeholder="€"
            [(ngModel)]="filters.minPrice"
          />
        </div>
        <div class="filter-item">
          <label for="maxPrice">Precio máximo</label>
          <input
            type="number"
            step="0.01"
            id="maxPrice"
            name="maxPrice"
            placeholder="€"
            [(ngModel)]="filters.maxPrice"
          />
        </div>
        <div class="filter-item">
          <span></span>
          <button (click)="applyFilters()" class="clickable clickable-primary">
            Aplicar
          </button>
        </div>
      </div>
    </div>
  </div>

  <!-- Products Container -->
  <div class="grid-layout products-container">
    <app-product-card
      *ngFor="let product of products"
      [product]="product"
    ></app-product-card>
  </div>

  <!-- Pagination -->
  <div class="pagination">
    <button
      (click)="loadProducts(currentPage - 1)"
      [disabled]="currentPage === 0"
      class="clickable clickable-primary"
    >
      Página anterior
    </button>
    <span>Página {{ currentPage + 1 }} de {{ totalPages }}</span>
    <button
      (click)="loadProducts(currentPage + 1)"
      [disabled]="isEnd"
      class="clickable clickable-primary"
    >
      Página siguiente
    </button>
  </div>
</div>