<tbody>
    {{#users}}
        <tr>
            <td><kbd>@{{username}}</kbd></td>
            <td>{{email}}</td>
            <td>{{role}}</td>
            <td>{{nComments}}</td>
            <td class="text-end">
                <button class="btn btn-danger" data-admin-command="user-delete" data-user-id="{{id}}">Eliminar</button>
            </td>
        </tr>
    {{/users}}
    {{^users}}
        <tr>
            <td colspan="5" class="text-center">No hay usuarios</td>
        </tr>
    {{/users}}
</tbody>
