<div class="cta">
    <h1 class="cta-title">Únete a nosotros y empieza a ahorrar en tu cesta de la compra</h1>
    <div class="cta-image">
        <img src="/assets/images/cta-image.jpeg" alt="Placeholder">
    </div>
    <div class="cta-clickables">
        @if (userData.isAuthenticated) {
            <a class="clickable clickable-primary" routerLink="/search">Busca productos</a>
        } @else {
            <a class="clickable clickable-primary" routerLink="/login">Accede a tu cuenta</a>
            <span>o</span>
            <a class="clickable clickable-secondary" routerLink="/search">Busca productos</a>
        }
    </div>
</div>