<div class="popup-container">
    <div class="popup-header">
        <span>{{ popupTitle }}</span>
        <button (click)="closePopup()" class="close-button">
            <i class="bi bi-x"></i>
        </button>
    </div>
    <div class="popup-message">
        <ul class="list-group">
            <li
                *ngFor="let list of lists"
                class="list-item clickable"
                (click)="selectList(list.id)"
            >
                {{ list.name }}
            </li>
        </ul>
        <p *ngIf="lists.length === 0" class="no-lists-message">
            No tienes listas disponibles.
        </p>
        <p *ngIf="errorMessage" class="error-message">
            {{ errorMessage }}
        </p>
    </div>
</div>