@import url('../../../styles/admin.css');


nav ul li{
    cursor: pointer;

    &.active a{
        background: var(--primary-color);
        border-color: var(--primary-color) ;
        color: var(--white-color);
    }
    a{
        color: #000;
    }
}

.graphics_wrap {
    display: flex;
    flex-wrap: wrap;
    gap: 2rem;
    justify-content: center;
    margin-top: 2rem;
  }

  .graph {
    flex: 1;
    min-width: 500px;
    max-width: 700px;
    height: 450px;
    display: flex;
    align-items: center;
    justify-content: center;
  }


