:host {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.comment {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 12px;
    border-radius: 4px;
    background-color: var(--semi-bg-color);

    .comment-header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 8px;

        .left {
            display: flex;
            align-items: center;
            gap: 12px;

            .user-avatar {
                width: 32px;
                height: 32px;
                border-radius: 50px;
                background-color: var(--grey-color);
            }

            .comment-author {
                font-size: 14px;
                font-weight: 500;
                color: var(--secondary-color);
            }
        }

        .right {
            display: flex;
            align-items: center;
            gap: 8px;

        }
    }

    .comment-date {
        width: 100%;
        text-align: end;
        font-size: 14px;
        font-weight: 500;
        color: var(--secondary-color);
        opacity: 0.8;
    }


    .comment-content {
        width: 100%;
        padding: 6px;
        display: flex;
        flex-direction: column;
        word-wrap: break-word;
        gap: 8px;
        border-radius: 4px;
        background-color: var(--grey-color);
        color: var(--text-color);
    }
}