.card {
    background-color: var(--grey-color);
}

.text {
    color: var(--text-color);
}

.progress-bar {
    background-color: var(--primary-color);
}

.progress {
    background-color: var(--bg-color);
}