
.cta {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    .cta-title {
        font-size: 28px;
        font-weight: 700;
        color: var(--text-color);
    }

    .cta-clickables {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 20px;
    }
}