<div class="container small-padding">

    <app-popup></app-popup>

    <div class="settings-container">

        <h1>Ajustes del Perfil</h1>
        <div class="img-container">
            <div class="profile-image">

                <img class="avatar" src="{{avatar}}" alt="User avatar" (error)="getDefaultAvatar($event)">
                <input type="file" name="avatar" id="avatar-input" style="display:none;">
                <button type="button" id="submit-button" class="clickable clickable-tool bordered invert upload" (click)="uploadAvatar()">
                    <i class="bi bi-upload icon"></i>
                </button>
            </div>
        </div>
        <div class="profile-info">
            <form>
                <div class="form-group">
                    <label for="name">Nombre</label>
                    <input type="text" id="name" name="name" [(ngModel)]="userData.modifyUser.name">
                    <small *ngIf="errors.modifyUser.name" class="error">{{errors.modifyUser.name}}</small>
                    
                </div>
                <div class="form-group">
                    <label for="email">Correo Electrónico</label>
                    <input type="email" id="email" name="email" [(ngModel)]="userData.modifyUser.email">
                    <small *ngIf="errors.modifyUser.email" class="error">{{errors.modifyUser.email}}</small>
                </div>
                <div class="form-group">
                    <label for="username">Nombre de Usuario</label>
                    <input type="text" id="username" name="username" [(ngModel)]="userData.modifyUser.username">

                    <small *ngIf="errors.modifyUser.username" class="error">{{errors.modifyUser.username}}</small>
                    <small class="warning">
                        <i class="bi bi-exclamation-triangle"></i>
                        Al cambiar el nombre de usuario será necesario volver a iniciar sesión.
                    </small>
                </div>
                <button class="clickable clickable-primary full-width" (click)="modifyUserData()" >Guardar Cambios</button>
            </form>
            <small *ngIf="errorMessage" id="error" class="error" >
                {{errorMessage}}
            </small>
        </div>


        <div class="profile-info">
            <h1>Cambiar Contraseña</h1>
            <form>
                <div class="form-group">
                    <label for="current-password">Contraseña Actual</label>
                    <input type="password" id="password" name="password" [(ngModel)]="userData.userPassword.oldPassword">
                    <small *ngIf="errors.userPassword.oldPassword" class="error">{{errors.userPassword.oldPassword}}</small>
                </div>
                <div class="form-group">
                    <label for="new-password">Nueva Contraseña</label>
                    <input type="password" id="newPassword" name="newPassword" [(ngModel)]="userData.userPassword.newPassword">
                    <small *ngIf="errors.userPassword.newPassword" class="error">{{errors.userPassword.newPassword}}</small>
                </div>
                <div class="form-group">
                    <label for="confirm-password">Confirmar Contraseña</label>
                    <input type="password" id="confirmPassword" name="confirmPassword" [(ngModel)]="userData.userPassword.newPasswordConfirmation">
                    <small *ngIf="errors.userPassword.newPasswordConfirmation" class="error">{{errors.userPassword.newPasswordConfirmation}}</small>
                </div>
                <button class="clickable clickable-primary full-width" (click)="modifyPassword()">Cambiar Contraseña</button>
            </form>
            <small *ngIf="errorMessagePassword" id="error" class="error" >
                {{errorMessagePassword}}
            </small>
        </div>
        <div class="delete-account form-group">
            <form>
                <button class="clickable clickable-danger full-width" (click)="deleteAccount()">Eliminar Cuenta</button>
            </form>
            <small class="warning">
                <i class="bi bi-exclamation-triangle"></i>
                Ten cuidado, esta acción no se puede deshacer.
            </small>
        </div>
    </div>

</div>