<div class="hero">
    <div class="hero-info">
        <div class="hero-content">
            <h1 class="hero-title">Ahorra dinero, ahorra tiempo</h1>
            <p class="hero-description">SaveX te ayuda a comparar precios de productos de supermercado para que
                puedas ahorrar dinero y tiempo.</p>
        </div>
        <div class="hero-image">
            <img src="https://img.freepik.com/vector-premium/vector-diseno-logotipo-minimalista-creativo-elegante-cualquier-empresa-negocios-marca_1287271-9313.jpg?semt=ais_hybrid"
                alt="SaveX">
        </div>
    </div>
    <div class="search-bar">
        <input type="text" placeholder="Buscar productos...">
        <button class="clickable clickable-tool">
            <i class="bi bi-search"></i>
        </button>
    </div>
</div>