<div class="navbar">
    <div class="nav-content">
        <a class="nav-logo" href="/webapp01/designs/index.html">
            <span class="nav-title">SaveX</span>
        </a>
        <div class="right">
            <a class="clickable clickable-primary" href="/webapp01/designs/login.html">Acceder</a>
            <button class="clickable clickable-tool secondary theme-toggle">
                <i class="bi bi-moon light-icon"></i>
                <i class="bi bi-sun dark-icon"></i>
            </button>
        </div>
    </div>
</div>