<div class="navbar">
    <div class="nav-content">
        <a class="nav-logo" href="/">
            <img src="https://img.freepik.com/vector-premium/vector-diseno-logotipo-minimalista-creativo-elegante-cualquier-empresa-negocios-marca_1287271-9313.jpg?semt=ais_hybrid"
                alt="SaveX">
            <span class="nav-title">SaveX</span>
        </a>
        <div class="right">
            <a class="clickable clickable-primary" href="/login">Acceder</a>
            <button class="clickable clickable-tool secondary theme-toggle">
                <i class="bi bi-moon light-icon"></i>
                <i class="bi bi-sun dark-icon"></i>
            </button>
        </div>
    </div>
</div>