<div class="posts-preview">
    <h2>Descubre cómo SaveX puede ayudarte</h2>
    <div class="posts-preview-content">
        <div class="post">
            <h2 class="post-title">Ahorra dinero</h2>

            <div class="post-metadata">
                <div class="tags-container">
                    <span class="tag">Ahorro</span>
                    <span class="tag">Finanzas</span>
                    <span class="tag">Supermercado</span>
                </div>

                <div class="time-container">
                    <span class="date">Hace 1 semana</span>
                    <span class="separator">•</span>
                    <span class="read-time">3 min</span>
                </div>
            </div>
            <div class="img-container">
                <img src="https://img.freepik.com/vector-premium/vector-diseno-logotipo-minimalista-creativo-elegante-cualquier-empresa-negocios-marca_1287271-9313.jpg?semt=ais_hybrid"
                    alt="SaveX">
            </div>

            <div class="post-footer">
                <a href="/posts/1" class="clickable clickable-primary">Leer más</a>
            </div>
        </div>
        <div class="post">
            <h2 class="post-title">Ahorra dinero</h2>

            <div class="post-metadata">
                <div class="tags-container">
                    <span class="tag">Ahorro</span>
                    <span class="tag">Finanzas</span>
                    <span class="tag">Supermercado</span>
                </div>

                <div class="time-container">
                    <span class="date">Hace 1 semana</span>
                    <span class="separator">•</span>
                    <span class="read-time">3 min</span>
                </div>
            </div>
            <div class="img-container">
                <img src="https://img.freepik.com/vector-premium/vector-diseno-logotipo-minimalista-creativo-elegante-cualquier-empresa-negocios-marca_1287271-9313.jpg?semt=ais_hybrid"
                    alt="SaveX">
            </div>

            <div class="post-footer">
                <a href="/posts/1" class="clickable clickable-primary">Leer más</a>
            </div>
        </div>
        <div class="post">
            <h2 class="post-title">Ahorra dinero</h2>

            <div class="post-metadata">
                <div class="tags-container">
                    <span class="tag">Ahorro</span>
                    <span class="tag">Finanzas</span>
                    <span class="tag">Supermercado</span>
                </div>

                <div class="time-container">
                    <span class="date">Hace 1 semana</span>
                    <span class="separator">•</span>
                    <span class="read-time">3 min</span>
                </div>
            </div>
            <div class="img-container">
                <img src="https://img.freepik.com/vector-premium/vector-diseno-logotipo-minimalista-creativo-elegante-cualquier-empresa-negocios-marca_1287271-9313.jpg?semt=ais_hybrid"
                    alt="SaveX">
            </div>

            <div class="post-footer">
                <a href="/posts/1" class="clickable clickable-primary">Leer más</a>
            </div>
        </div>
        <div class="post">
            <h2 class="post-title">Ahorra dinero</h2>

            <div class="post-metadata">
                <div class="tags-container">
                    <span class="tag">Ahorro</span>
                    <span class="tag">Finanzas</span>
                    <span class="tag">Supermercado</span>
                </div>

                <div class="time-container">
                    <span class="date">Hace 1 semana</span>
                    <span class="separator">•</span>
                    <span class="read-time">3 min</span>
                </div>
            </div>
            <div class="img-container">
                <img src="https://img.freepik.com/vector-premium/vector-diseno-logotipo-minimalista-creativo-elegante-cualquier-empresa-negocios-marca_1287271-9313.jpg?semt=ais_hybrid"
                    alt="SaveX">
            </div>

            <div class="post-footer">
                <a href="/posts/1" class="clickable clickable-primary">Leer más</a>
            </div>
        </div>
    </div>
    <a href="/posts" class="clickable clickable-primary">Ver más</a>
</div>