<div class="hero">
    <div class="hero-info">
        <div class="hero-content">
            <h1>Ahorra dinero, ahorra tiempo</h1>
            <h3>SaveX te ayuda a comparar precios de productos de supermercado para que
                puedas ahorrar dinero y tiempo.</h3>
        </div>
    </div>
    <app-searchbar></app-searchbar>
    @if (userData.isAdmin) {
        <a class="clickable clickable-primary" routerLink="/admin">
            <i class="bi bi-bounding-box-circles"></i>
            <span>Acceder al Dashboard</span>
        </a>}
</div>