@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Custom CSS components */
@import url('./app/styles/footer.css');
@import url('./app/styles/navbar.css');
@import url('./app/styles/button.css');

app-root,
app-main,
main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

* {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;

    scrollbar-width: thin;
    scrollbar-color: var(--secondary-color) var(--semi-bg-color);

    --navbar-height: 75px;
    --max-width: 1200px;

    /* Colors */
    --grey-color: #e7ebf1;
    --white-color: #fff;

    --primary-color: #222;
    --secondary-color: #333;
    --text-color: #444;
    --bg-color: #fff;
    --semi-bg-color: #fcfcfc;
    --primary-color-hover: #0f7a97;
    --accent-color: #1a8754;
    --blue-color: #64748b;

    --danger-color: #cd3333;
    --danger-bg-color: #f4dcdd;
    --success-color: #4caf50;
    --success-bg-color: #e8f5e9;
    --grey-bg-color: #c7c6c6;
}

.dark,
.dark * {

    --grey-color: #27272a;
    --white-color: #000;

    --primary-color: #fff;
    --secondary-color: #eee;
    --text-color: #ccc;
    --bg-color: #000;
    --semi-bg-color: #111;
    --primary-color-hover: #87d2e7;
    --accent-color: #1a8754;
    --blue-color: #b1c2d8;

    --danger-color: #ff4d4d;
    --danger-bg-color: #3e2222;
    --success-color: #4caf50;
    --success-bg-color: #2e3a2e;
    --grey-bg-color: #1a1a1d;
}

body {
    background-color: var(--bg-color);
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.container {
    position: relative;
    padding: 20px;
    padding-top: calc(var(--navbar-height) + 150px);
    width: 100%;
    max-width: var(--max-width);
    min-height: 110vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 200px;

    &.no-gap {
        gap: 80px;
    }

    &.small-gap {
        gap: 40px;
    }

    &.small-padding {
        padding-top: calc(var(--navbar-height) + 50px);
    }

    &.no-padding {
        padding-top: 0;
        padding: 0;
    }
}

a {
    text-decoration: none;

    &:hover,
    &:active,
    &:focus,
    &:visited {
        text-decoration: none;
    }
}

h1 {
    text-align: center;
    font-size: 3rem;
    font-weight: 700;
    margin-bottom: 16px;
    color: var(--primary-color);
}

h2 {
    text-align: center;
    font-size: 2rem;
    font-weight: 600;
    margin-bottom: 8px;
    color: var(--primary-color);
}

h3 {
    text-align: center;
    font-size: 1.35rem;
    margin-bottom: 8px;
    font-weight: 400;
    color: var(--text-color);
}

p {
    font-size: 1rem;
    line-height: 1.5;
    margin-bottom: 6px;
    color: var(--text-color);
}

hr {
    width: 100%;
    border: none;
    height: 3px;
    background: linear-gradient(to right, transparent, var(--grey-color), transparent);

    &.margin-v {
        margin-top: 16px;
        margin-bottom: 16px;

        &.big {
            margin-top: 32px;
            margin-bottom: 32px;
        }
    }
}

.error {
    margin-top: 2px;
    color: red;
}

form {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;

    &.inline {
        width: auto;
    }

    .form-row {
        width: 100%;
        display: flex;
        justify-content: space-between;
        gap: 32px;
    }

}

.form-group {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 2rem;

    &.space-top {
        margin-top: 16px;
    }
}

.form-buttons {
    width: 100%;
    display: flex;
    justify-content: space-between;
    gap: 16px;
    margin-top: 2rem;
}

label {
    display: block;
    margin-bottom: 0.5rem;
    font-weight: 600;
    text-align: left;
    color: var(--text-color);
}

input,
textarea,
select {
    width: 100%;
    height: 42px;
    border-radius: 5px;
    background-color: transparent;
    border: 1px solid var(--grey-color);
    box-shadow: 0 0 1px 1px #00000020;
    color: var(--text-color);
    font-size: 16px;
    outline: none;
    padding: 10px;
    resize: none;

    &:focus {
        box-shadow: 0 0 1px 1px var(--primary-color);
    }

    &[type="select"] {
        cursor: pointer;
    }
}

textarea {
    min-height: 200px;
    height: auto;
    field-sizing: content;
}

.post-content {
    width: 100%;

    * {
        color: var(--text-color);
    }

    h1 {
        font-size: 32px;
        text-align: start;
        margin-bottom: 16px;
        color: var(--primary-color);
    }

    h2 {
        font-size: 24px;
        text-align: start;
        margin-top: 32px;
        margin-bottom: 16px;
        color: var(--primary-color);
    }

    h3 {
        font-size: 20px;
        text-align: start;
        margin-top: 24px;
        margin-bottom: 16px;
        color: var(--primary-color);
    }

    p {
        font-size: 16px;
        margin-bottom: 12px;
        line-height: 1.5;
        color: var(--text-color);
        text-align: justify;
    }

    li {
        font-size: 16px;
        margin-bottom: 6px;
        line-height: 1.5;
        color: var(--text-color);
        margin-left: 24px;
    }

    a {
        margin-left: 6px;
        color: var(--primary-color);
        text-decoration: underline;
        font-weight: 500;
        transition: all 0.2s ease;

        &:hover {
            color: var(--primary-color-hover);
        }
    }
}

@media (max-width: 1100px) {
    form {
        .form-row {
            max-width: 712px;
            flex-direction: column;
            justify-content: flex-start;
            gap: 0;
        }

        .form-group {
            max-width: 712px;
        }

        .form-buttons {
            max-width: 712px;
        }
    }
}