<div class="cta">
    <h1 class="cta-title">Únete a nosotros y empieza a ahorrar en tu cesta de la compra</h1>
    <div class="cta-image">
        <img src="/assets/cta-image.jpeg" alt="Placeholder">
    </div>
    <div class="cta-clickables">
        {{#isAuthenticated}}
        <a class="clickable clickable-primary" href="/products">Compara productos</a>
        {{/isAuthenticated}}
        {{^isAuthenticated}}
        <a class="clickable clickable-primary" href="/login">Accede a tu cuenta</a>
        <span>o</span>
        <a class="clickable clickable-secondary" href="/products">Compara productos</a>
        {{/isAuthenticated}}
    </div>
</div>