<footer>
    <hr>
    <div class="footer-content">
        <div class="left">
            <a class="clickable clickable-text" routerLink="#">&copy; 2025 SaveX</a>
        </div>
        <div class="right">
            <a class="clickable clickable-tertiary" routerLink="/about">Sobre Nosotros</a>
            <a class="clickable clickable-tool bordered" routerLink="https://github.com/CodeURJC-DAW-2024-25/webapp01"
                target="_blank" noreferrer>
                <i class="bi bi-github"></i>
            </a>
        </div>
    </div>
</footer>