<a class="post {{extendedClass}}" routerLink="/posts/{{id}}">
    <i class="bi bi-box-arrow-up-right icon"></i>
    <div class="post-top">
        <h2 class="post-title">{{title}}</h2>
        <p class="post-description">Descubre cómo puedes ahorrar dinero en tus compras de supermercado con SaveX.</p>
    
        <div class="post-metadata">
            <div class="tags-container">
                {{#tags}}
                    <span class="tag">{{.}}</span>
                {{/tags}}
            </div>
    
        </div>
    </div>
    <div class="post-bottom">
        <div class="time-container">
            <span class="date">{{date}}</span>
            <span class="separator">•</span>
            <span class="read-time">{{readingTime}}</span>
        </div>
        <div class="img-container">
            <img src="/api/v1/posts/{{id}}/banner" alt="{{title}}">
        </div>
    </div>
</a>