<div class="product-card template">
    <div class="product-link">
        <div class="product-image-container">
            <div class="supermarket-badge">...</div>
            <div class="product-image"></div>
        </div>
        <div class="product-info">
            <div class="product-meta">
                <span class="product-brand"></span>
                <span class="product-category"></span>
            </div>
            <h3 class="product-name"></h3>
            <div class="product-price-container">
                <div class="price-info">
                    <p class="product-price"></p>
                    <p class="product-unit-price"></p>
                </div>
            </div>
        </div>
    </div>
</div>