<h2 class="section-title">
    Resultado de la comparación
</h2>

<table>
    <thead>
        <tr>
            <th class="sortable" data-column="market">
                Supermercado
            </th>
            <th class="sortable" data-column="product">
                Producto
            </th>
            <th class="sortable" data-column="price">
                Precio
            </th>
        </tr>
    </thead>
    <tbody>
        {{#comparisons}}
        <tr data-price="{{price}}">
            <td>{{market}}</td>
            <td>{{product_name}}</td>
            <td class="price-cell">{{price}} €</td>
        </tr>
        {{/comparisons}}
    </tbody>
</table>