<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SaveX - Creación de post</title>
    <link rel="stylesheet" href="styles/index.css">
    <link rel="stylesheet" href="styles/navbar.css">
    <link rel="stylesheet" href="styles/button.css">
    <link rel="stylesheet" href="styles/create-post.css">


</head>

<body>
    <div class="container no-gap">
        <div class="navbar">
            {{> components/navbar}}
        </div>

        <div class="create-post-form">
            <h1 class="title">Crear post</h1>
            <form action="/create-post" method="POST" enctype="multipart/form-data">
                <div class="text form-group">
                    <label for="title">Titular: </label>
                    <br>
                    <input type="text" id="title" name="title" placeholder="Enter the title" required>
                    </br>
                </div>
                <div class="text form-group">
                    <label for="description">Descrpción: </label>
                    <br>
                    <input type="text" id="description" name="description placeholder=" Enter the description" required>
                </div>
                <div class="text form-group">
                    <label for="author">Autor: </label>
                    <br>
                    <input type="text" id="author" name="author" placeholder="Enter the author" required>
                </div>
                <div class="text form-group">
                    <label for="tags">Categoría: </label>
                    <br>
                    <select id="tags" name="tags" required>
                        <option value="1">Ahorro</option>
                        <option value="2">Finanzas</option>
                        <option value="3">Supermercado</option>
                        <option value="4">Producto</option>
                        <option value="5">Tip</option>

                    </select>
                </div>
                <div class="text form-group">
                    <label for="date">Fecha: </label>
                    <br>
                    <input type="date" id="date" name="date" required>
                </div>
                <div class="text form-group">
                    <label for="image">Imagen: </label>
                    <br>
                    <input type="file" id="banner" name="banner" class="form-control" accept=".jpg, .jpeg" required>
                </div>
                <div class="d-flex justify-content-between mt-4">
                    <button type="button" class="btn btn-secondary"
                        onclick="location.href='/'; return false;">Cancel</button>
                    <button type="submit" class="btn btn-primary">Save</button>
                </div>
            </form>
        </div>
    </div>
    <script src="scripts/themeToggle.js"></script>
</body>

</html>