<!DOCTYPE html>
<html lang="es">

<head>
    {{> components/head-tags}}
    <link rel="stylesheet" routerLink="/styles/error.css">
    <title>{{title}}</title>
</head>

<body>
    <div class="container">
        {{> components/navbar}}
        <div class="error-page">
            <h1>Error {{status}}</h1>
            <p>Lo sentimos, ha ocurrido un error.</p>
            <a routerLink="/" class="clickable clickable-primary">
                <i class="bi bi-house"></i>
                <span>Ir a la página principal</span>
            </a>
        </div>
        {{> components/footer}}
    </div>
    <script src="/scripts/themeToggle.js"></script>
</body>

</html>