<!DOCTYPE html>
<html lang="es">

<head>
    {{> components/head-tags}}
    <link rel="stylesheet" routerLink="styles/hero.css">
    <link rel="stylesheet" routerLink="styles/searchbar.css">
    <link rel="stylesheet" routerLink="styles/cta.css">
    <link rel="stylesheet" routerLink="styles/posts-preview.css">
    <link rel="stylesheet" routerLink="styles/post.css">
</head>

<body>
    <div class="container">
        {{> components/navbar}}
        {{> components/hero}}
        {{> components/posts-preview}}
        {{> components/cta}}
        {{> components/footer}}
    </div>
    <script src="scripts/themeToggle.js"></script>
</body>

</html>