<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" routerLink="/styles/post-detail.css">
    {{> components/head-tags}}
</head>

<body>
    <div class="container no-gap small-padding">
        {{> components/navbar}}
        <section class="post-detail">
            <div class="back-link">
                <a routerLink="/posts" class="clickable clickable-text">
                    <i class="bi bi-arrow-left"></i>
                    <span>Volver a la lista de posts</span>
                </a>
    
                {{#isAdmin}}
                    <div class="post-admin-controls">
                        <a routerLink="/editPost/{{post.id}}" class="clickable clickable-tool bordered">
                            <i class="bi bi-pencil"></i>
                        </a>
                        <button id="delete-post-button" class="clickable clickable-tool bordered danger" data-post-id="{{post.id}}">
                            <i class="bi bi-trash"></i>
                        </button>
                    </div>
                {{/isAdmin}}
            </div>
            <header class="post-header">
                <div class="post-header-left">
                    <h2 class="post-title">{{post.title}}</h2>
                    <div class="post-tags-container">
                        {{#post.tags}}
                        <span class="post-tag">{{.}}</span>
                        {{/post.tags}}
                    </div>
                    <p class="description">{{post.description}}</p>
                </div>
                <div class="post-header-right">
                    <span class="author">@{{post.author}}</span>
                    <span class="post-date">{{post.date}}</span>
                </div>
            </header>
            <div class="post-image">
                <img
                    src="/api/v1/posts/{{post.id}}/banner"
                    onerror="this.src='/assets/template_image.png'"
                    alt="{{post.title}}"
                >
            </div>
            <hr>
            <div class="post-content">
                {{{content}}}
            </div>
        </section>
        <hr>
        <section class="post-comments">
            <h2>Comentarios</h2>
            <div class="comments-container" data-post-id="{{post.id}}">
                <!-- Comments will be inserted here using AJAX -->
            </div>
            <button id="load-more-button" class="clickable clickable-primary">Cargar más</button>
            <hr class="margin-v big">
            {{#isAuthenticated}}
            <form class="comment-form" action="/posts/{{post.id}}/comments" method="post">
                <h4>Deja un comentario</h4>
                <textarea class="comment-input" name="comment" placeholder="Escribe un comentario..."></textarea>
                <button type="submit" class="clickable clickable-primary">Comentar</button>
                <input type="hidden" name="_csrf" value="{{token}}" />
            </form>
            {{/isAuthenticated}}
        </section>
        {{> components/footer}}
    </div>
    <script src="/scripts/themeToggle.js" type="module"></script>
    <script src="/scripts/fetchComments.js" type="module"></script>
    <script src="/scripts/deletePost.js" type="module"></script>
</body>

</html>