<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="/styles/post-detail.css">
    {{> components/head-tags}}
</head>
<body>
    <div class="container no-gap small-padding">
        {{> components/navbar}}
        <section class="post-detail">
            <header class="post-header">
                <div class="post-header-left">
                    <h2 class="post-title">{{post.title}}</h2>
                    <div class="post-tags-container">
                        {{#post.tags}}
                            <span class="post-tag">{{.}}</span>
                        {{/post.tags}}
                    </div>
                    <p class="description">{{post.description}}</p>
                </div>
                <div class="post-header-right">
                    <span class="author">@{{post.author}}</span>
                    <span class="post-date">{{post.date}}</span>
                </div>
            </header>
            <div class="post-image">
                <img src="/posts/{{post.id}}/banner" alt="Ahorra dinero">
            </div>
            <hr>
            <div class="post-content">
                {{{content}}}
            </div>
        </section>
        <hr>
        <section class="post-comments">
            <h2>Comentarios</h2>
            <div class="comments-container">
                {{#post.comments}}
                    <div class="comment">
                        <div class="comment-header">
                            <div class="left">
                                <img class="user-avatar" src="/assets/defaultAvatar.svg" alt="User">
                                <span class="comment-author">@{{author.username}}</span>
                            </div>
                            <!--
                            <div class="right">
                                <button class="clickable clickable-tool">
                                    <i class="bi bi-trash"></i>
                                </button>
                            </div>
                            -->
                        </div>
                        <p class="comment-content">{{content}}</p>
                        <span class="comment-date">{{formatedDate}}</span>
                    </div>
                {{/post.comments}}
            </div>
            <div class="comment-form">
                <h4>Deja un comentario</h4>
                <textarea class="comment-input" placeholder="Escribe un comentario..."></textarea>
                <button class="clickable clickable-primary">Comentar</button>
            </div>
        </section>
        {{> components/footer}}
    </div>
    <script src="/scripts/themeToggle.js"></script>
</body>
</html>