<!DOCTYPE html>
<html lang="es">

<head>
    <link rel="stylesheet" href="/styles/post-detail.css">
    {{> components/head-tags}}
</head>
<body>
    <div class="container no-gap small-padding">
        {{> components/navbar}}
        <section class="post-detail">
            <header class="post-header">
                <div class="post-header-left">
                    <h2 class="post-title">{{post.title}}</h2>
                    <div class="post-tags-container">
                        {{#post.tags}}
                            <span class="post-tag">{{.}}</span>
                        {{/post.tags}}
                    </div>
                    <p class="description">{{post.description}}</p>
                </div>
                <div class="post-header-right">
                    <span class="author">@{{post.author}}</span>
                    <span class="post-date">{{post.date}}</span>
                </div>
            </header>
            <div class="post-image">
                <img src="/api/posts/{{post.id}}/banner" alt="Ahorra dinero">
            </div>
            <hr>
            <div class="post-content">
                {{{content}}}
            </div>
        </section>
        <hr>
        <section class="post-comments">
            <h2>Comentarios</h2>
            <div class="comments-container" data-post-id="{{post.id}}">
                <!-- Comments will be inserted here using AJAX -->
            </div>
            {{#isAuthenticated}}
            <form class="comment-form" action="/posts/{{post.id}}/addComment" method="post">
                <h4>Deja un comentario</h4>
                <textarea class="comment-input" name="comment" placeholder="Escribe un comentario..."></textarea>
                <button type="submit" class="clickable clickable-primary">Comentar</button>
                <input type="hidden" name="_csrf" value="{{token}}"/>
            </form>
            {{/isAuthenticated}}
        </section>
        {{> components/footer}}
    </div>
    <script src="/scripts/themeToggle.js"></script>
    <script src="/scripts/fetchComments.js"></script>
</body>
</html>