<!DOCTYPE html>
<html lang="es">
<head>
    {{> components/head-tags}}
    <link rel="stylesheet" href="styles/posts-preview.css">
    <link rel="stylesheet" href="styles/searchbar.css">
    <link rel="stylesheet" href="styles/post.css">
    <link rel="stylesheet" href="styles/suggestion.css">
</head>
<body>
    <div class="container no-gap small-padding">
        {{> components/navbar}}

        <h2>¿Quieres saber más sobre cómo ahorrar dinero?</h2>
        {{> components/searchbar}}
        <div class="posts-preview">
            <div class="posts-preview-content extended">
                {{#posts}}
                    {{> components/post}}
                {{/posts}}
            </div>
        </div>
        <hr>
            
        {{> components/suggestion}}
        {{> components/footer}}
    </div>
    <script src="scripts/themeToggle.js"></script>
</body>

</html>