<!DOCTYPE html>
<html lang="es">

<head>
    {{> components/head-tags}}
    <link rel="stylesheet" href="../static/styles/products.css">
</head>

<body>
    <div class="container no-gap">
        {{> components/navbar}}

        <main class="container">
            {{#product}}
            <!-- Left Column / Product Image -->
            <div class="left-column">
                <img src="{{thumbnail}}" alt="{{display_name}}">
            </div>

            <!-- Right Column -->
            <div class="right-column">
                <!-- Product Description -->
                <div class="product-description">
                    <h1>{{display_name}}</h1>
                    <p><strong>Categoría:</strong> {{product_type}}</p>
                    <p><strong>Precio:</strong> {{price.total}}&euro;</p>
                </div>

                <!-- Product Configuration -->
                <div class="product-configuration">
                    <!-- Product Category -->
                    <div class="product-category">
                        <span>Categoría</span>
                        <p>{{#product_categories}}{{.}}{{/product_categories}}</p>
                    </div>
                </div>

                <!-- Product Pricing -->
                <div class="product-price">
                    <a href="{{product_url}}" target="_blank" class="cart-btn">Comprar en {{supermarket_name}}</a>
                </div>
            </div>
            {{/product}}

            {{^product}}
            <p class="loader">El producto no fue encontrado.</p>
            {{/product}}
        </main>

        {{> components/footer}}
    </div>

    <script src="/scripts/themeToggle.js"></script>
</body>

</html>
