<!DOCTYPE html>
<html lang="es">

<head>
    {{> components/head-tags}}
    <link rel="stylesheet" href="styles/searchbar.css">
    <link rel="stylesheet" href="styles/posts.css">
    <link rel="stylesheet" href="styles/products.css">
</head>

<body>
    <div class="container no-gap">
        {{> components/navbar}}
        {{> components/searchbar}}

        <div class="grid-layout">
            {{#products}}
            <div class="grid-item">
                <div class="image-container">
                    <img src="{{thumbnail}}" alt="{{display_name}}">
                </div>
                <div class="info-container">
                    <h1 class="product-title">{{display_name}}</h1>
                    <p class="product-description">{{product_type}}</p>
                    <p class="product-price">{{price.total}}&euro;</p>
                    <a href="products/{{supermarket_name}}/{{product_id}}">
                        <button class="clickable clickable-primary">Ver Producto</button>
                    </a>
                </div>
            </div>
            {{/products}}

            {{^products}}
            <p class="loader">No se encontraron productos.</p>
            {{/products}}
        </div>

        {{> components/footer}}
    </div>

    <script src="scripts/themeToggle.js"></script>
</body>
</html>
