<!DOCTYPE html>
<html lang="es">

<head>
    {{> components/head-tags}}
    <link rel="stylesheet" routerLink="/styles/profile.css">
    <link rel="stylesheet" routerLink="/styles/form.css">
    <link rel="stylesheet" routerLink="/styles/modal.css">

<body>
    <div class="container no-gap small-padding">
        {{> components/navbar}}
        <div class="profile-header">
            <span class="badge">
                {{role}}
            </span>
            <div class="gradient-background"></div>
            <div class="profile-info">
                <div class="profile-avatar">
                    <img src="{{avatar}}" alt="Avatar de {{name}}">
                </div>
                <div class="user-details">
                    <div class="user-naming-section">
                        <div class="names">
                            <h2 class="name-badge">{{name}}</h2>
                            <p class="username">@{{username}}</p>
                        </div>
                        <span class="date"><i class="bi bi-calendar"></i> Se unió en Enero 2023</span>
                    </div>
                    <div class="user-actions">
                        {{#isAdmin}}
                        <a routerLink="/admin" class="clickable clickable-primary">
                            <i class="bi bi-database-gear icon"></i>
                            <span>Admin Panel</span>
                        </a>
                        {{/isAdmin}}
                        {{^isAdmin}}
                        <a routerLink="/settings" class="clickable clickable-primary">
                            <i class="bi bi-gear icon"></i>
                            <span>Ajustes</span>
                        </a>
                        {{/isAdmin}}
                        <form action="/logout" method="post" class="logout-form inline" id="logout-form">
                            <input type="hidden" name="_csrf" value="{{token}}" />
                            <button type="submit" class="clickable clickable-secondary danger">
                                <i class="bi bi-box-arrow-right icon"></i>
                                <span>Cerrar sesión</span>
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>

        {{^isAdmin}}
        <div class="lists-section">
            <div class="lists-header">
                <h3>Tus listas</h3>
                <button class="clickable clickable-secondary" onclick="openModal()">
                    <i class="bi bi-plus-lg"></i>
                    Nueva lista
                </button>
            </div>
            <hr>
            <div class="lists-grid">
                {{#shoppingLists}}
                <div class="list-card">
                    <div class="list-card-header">
                        <h4>{{name}}</h4>
                        <span class="badge badge-secondary">{{numberOfProducts}}</span>
                    </div>
                    <p>{{description}}</p>
                    <a routerLink="/shoppingList/{{id}}" class="clickable clickable-secondary full-width">Ver detalles</a>
                </div>
                {{/shoppingLists}}
                {{^shoppingLists}}
                <p>No tienes listas</p>
                {{/shoppingLists}}
            </div>
        </div>
        {{/isAdmin}}

        {{> components/footer}}
    </div>
    {{> components/modal}}
    <script src="/scripts/modal.js" type="module"></script>
    <script src="/scripts/themeToggle.js" type="module"></script>
    <script src="/scripts/auth.js" type="module"></script>
</body>

</html>