<!DOCTYPE html>
<html lang="en">

<head>
    <link rel="stylesheet" href="/styles/shoppingList-detail.css">
    {{> components/head-tags}}
</head>

<body>
    <div class="container small-gap small-padding">
        {{> components/navbar}}
        <header class="shopping-list-header">

            <div class="left">
                <div class="back-link">
                    <a href="/profile" class="clickable clickable-text">
                        <i class="bi bi-arrow-left"></i>
                        Volver a mis listas
                    </a>
                </div>
                <h1>{{shoppingList.name}}</h1>
            </div>
            <div class="right">
                <form action="/shoppingList/{{shoppingList.id}}/delete" method="post" style="display:inline;">
                    <input type="hidden" name="_csrf" value="{{token}}">
                    <button type="submit" class="clickable clickable-primary danger">
                        <i class="bi bi-trash"></i>
                        <span>Eliminar Lista</span>
                    </button>
                </form>
            </div>
        </header>

        <div class="shopping-list-card" data-list-id="{{shoppingList.id}}">
            <div class="title">
                <h2>Descripción</h2>
            </div>
            <p>{{shoppingList.description}}</p>
        </div>

        <div class="shopping-list-card">
            <div class="title">
                <h2>Productos</h2>
                <a href="/search" class="clickable clickable-secondary">
                    <i class="bi bi-plus-circle"></i>
                    Agregar Producto
                </a>
            </div>
            {{#shoppingList.products}}
            <ul class="product-list">
                {{ > components/listed-product}}
            </ul>
            {{/shoppingList.products}}

            {{^shoppingList.products}}
            <p class="no-products">No hay productos en la lista</p>
            {{/shoppingList.products}}
        </div>
        {{> components/footer}}
    </div>
    <script src="/scripts/themeToggle.js"></script>
    <script src="/scripts/deleteProduct.js" type="module"></script>
</body>

</html>