.settings-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    padding: 20px;
    min-height: 100vh;
}

.profile-image {
    position: relative;
    --size: 160px;
    width: var(--size);
    height: var(--size);
    padding: 4px;
    border-radius:8px;
    background-color: var(--primary-color);

    img {
        width: 100%;
        height: 100%;
        border-radius: 4px;
    }

    .upload {
        position: absolute;
        bottom: 0;
        right: 0;

        .icon {
            font-weight: bold;
        }
    }
}

.profile-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 50px;
}