
.product-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #ddd;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    margin: 20px;
    max-width: 300px;
    width: 100%;
    height: 100%;
}

.product-card a {
    color: black;
    transition: transform 0.2s;
    text-decoration: none; /* Ensure no underline on links */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    .product-card:hover {
        transform: scale(1.05);
    }
    
    .product-image-suggested {
        width: 30%;
        height: auto;
        
    }
    
    .product-info {
        padding: 15px;
        text-align: center;

        .product-name h2{
            font-size: 1em;
            margin: 10px 0;
            color: #333;
        }
        
        .product-price {
            font-size: 1.2em;
            color: #888;
            margin: 5px 0;
        }
    }
    
}